$first-color: white;
$second-color: #077afb;
$third-color: #0e0d35;
$fourth-color:  #b1162b;

$status-all: #087208;
$status-connected: $second-color;
$status-disconnected: $fourth-color;
$status-recently: #fbba07;

$bg-color: #060616;


$status : (all, $status-all), (connected, $status-connected), (disconnected, $status-disconnected), (recently, $status-recently) ;